ul{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    font-family:"ヒラギノ明朝 ProN W3";
}

body{
    font-family: Arial Black;
    margin: 0;
}

/* ここから処理を記述 */
.ALL{
    background-color: aquamarine;
    height: 100px;
    width: 100%;
}
.logo{
    height: 100px;
}
h1{
    font-size: 20px;
}
.linkA{
    display: inline-block;
    margin-right: 15%;
}
li{
    display: inline-block;
    margin-right: 10px;
}