@charset "UTF-8";

body{
    background-image: url(./image/kishiwada-jo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.leftside{
    display: flex;
}
.kishiwada_logo{
    height: 70px;
}
.midashi{
    background-color: red;
    color: white;
    display: inline;
    width: 750px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.midashi span{
    font-size: 30%;
}
.SNS_logo{
    width: 5%;
}
.itiran{
    background-color: gray;
    color: white;
    display: block;
    width: 200px;
    height: 70px;
    margin-left: 85%;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 15px;
    line-height: 15px;
    border-style: solid;
    border-color: gray;
}
.itiran span{
    font-size: 60px;
}
.madoguti{
    background-color: white;
    display: block;
    width: 200px;
    height: 150px;
    margin-left: 85%;
    margin-bottom: 0%;
    margin-top: 0%; 
    padding-top: 75px;
    border-style: solid;
    border-color: gray;
}
.hasshin{
    background-color: white;
    display: block;
    width: 200px;
    height: 150px;
    margin-left: 85%;
    margin-bottom: 0%;
    margin-top: 0%; 
    padding-top: 75px;
    border-style: solid;
    border-color: gray;
}
.danjiri{
    background-color: white;
    display: block;
    width: 200px;
    height: 150px;
    margin-left: 85%;
    margin-bottom: 0%;
    margin-top: 0%; 
    padding-top: 75px; 
    border-style: solid;
    border-color: gray;  
}